extends layout

block content
	message= message
		
	if bibliotheque
		h3= "Ajouter un livre :"
		form(id="formB", method="post")
			div.input
				input(type="text", id="isbn", name="isbn", placeholder='ISBN')
				input(type="hidden", name="action", value="creerLivre/"+bibliotheque.nom)
				button(type="button", onclick="testNotEmpty('isbn', 'formB', 'messageLivre');")
					|Ajouter
				span(id="messageLivre")
				if error
					span(style="color:red")= " "+error 
				
		h3= "Livres de la bibliothèque " + bibliotheque.nom + " : "
		if bibliotheque.livres && bibliotheque.livres.length > 0
			table.liste
				-var nbLigne = 0;
				-var classe;
				each livre in bibliotheque.livres
					-nbLigne += 1;
					if nbLigne%2==0
						-classe = "lignePair";
					else
						-classe = "ligneImpair";
						
					tr
						td(class=classe)
							a(href='/bibliotheque/'+bibliotheque.nom+'/livre/'+livre.isbn)= livre.titre
						td(class=classe)
							input(type="image", src="/delete.jpg", alt="Suppr", style="height:15px;" onclick="supprimer('"+bibliotheque.nom+"','"+livre.titre+"','"+livre.isbn+"');")
		else
			p.paragrapheBlanc Aucun livre
	else
		p.paragrapheBlanc Bibliothèque introuvable
	script.
		function supprimer(nom, titre, isbn){
			if(confirm("Supprimer le livre \"" + titre + "\" de cette bibliothèque ?")){
				createSubmitForm("/bibliotheque/"+nom+"/livre/"+isbn+"/?_method=DELETE");
			}
		}
