html
	head
		meta(charset='utf-8')
		block title
			title= "Gestion de bibliothèques"
		style
			include style.css
	body
		h1
			a(href="/accueil", style="text-decoration:none; color:inherit;")= "Gestion de bibliothèques"
		
		div
			a(href="/accueil")= "Mes bibliothèques"
			a(href="/livres")= "Mes livres"
		br
			
		if breadcrumb
			|Vous êtes ici : 
			- var breadHref = "";
			for b, i in breadcrumb
				- breadHref += b + "/"
				if context && context[i]
					if i == 0 && context[0] != "accueil"
						a(href="/accueil")= "/accueil"
					- breadHref += context[i] + "/"
				span= "/"
				a(href="/"+breadHref)= b
		block content
		
		script.
			function testNotEmpty(elem, formId, messageId){
				var value = document.getElementById(elem).value;
				if(value == undefined || value == ''){
					var m = document.getElementById(messageId);
					m.textContent= ' Veuillez entrer une valeur';
					m.style.color= "red";
				}else{
					document.getElementById(formId).submit();
				}
			};
			function createSubmitForm(action){
				var form = document.createElement("form");
				form.setAttribute("method", "post");
				form.setAttribute("action", action);
				document.body.appendChild(form);
				form.submit();
			}