extends layout

block content
	message= message
		
	if bibliotheques && bibliotheques.length > 0
		h3= "Mes livres"
			
		- var isLivre = false;
		table.liste
			each bibliotheque in bibliotheques
				if bibliotheque.livres && bibliotheque.livres.length > 0
				- isLivre = true;
				-var nbLigne = 0;
				-var classe;
				each livre in bibliotheque.livres
					-nbLigne += 1;
					if nbLigne%2==0
						-classe = "lignePair";
					else
						-classe = "ligneImpair";

					tr
						td(class=classe)
							a(href='/bibliotheque/'+bibliotheque.nom+'/livre/'+livre.isbn)= livre.titre
						td(class=classe)
							a(href='/bibliotheque/'+bibliotheque.nom)= bibliotheque.nom
						td
							input(type="image", src="/update.jpg", alt="Modifier", style="height:15px;" onclick="modifier('"+bibliotheque.nom+"','"+livre.titre+"','"+livre.isbn+"');")
						td
							input(type="image", src="/delete.jpg", alt="Suppr", style="height:15px;" onclick="supprimer('"+bibliotheque.nom+"','"+livre.titre+"','"+livre.isbn+"');")
		if isLivre == false
			p Aucun livre
	else
		p Aucun livre
	script.
		function supprimer(nom, titre, isbn){
			if(confirm("Supprimer le livre \"" + titre + "\" de cette bibliothèque ?")){
				createSubmitForm("/bibliotheque/"+nom+"/livre/"+isbn+"/?_method=DELETE");
			}
		}
		function modifier(old, titre, isbn){
			var nomBibliotheque = prompt("Dans quelle bibliothèque déplacer le livre \"" + titre + "\" ?", old);
			if(nomBibliotheque !== undefined && nomBibliotheque !== null && nomBibliotheque !== '' && nomBibliotheque !== old){
				createSubmitForm("/livres/"+isbn+"/"+old+"/"+nomBibliotheque+"/?_method=PUT");
			}
		}
